
@media screen and (min-width: 500px) {
    .yes {
        opacity: 1;
    }
    .no {

     opacity: 0;
   } 


body {

    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;

    }

	
 		.class {

            font-size: 40px;
            top: 40px;

        }

        .logo{
            width: 130px;
            padding: 0px;
            margin-left: 0px;
            margin-top: 0px;
    }


        

        }

        .contact {

            width: 80%;
            margin-left: 100px;
            padding: 50px;
            margin-top:10px;
            background-color: white;

        }

        .comments{

            margin-top: 40px;
            color: white;
        }



         .film-title {

        text-align: left;
        color: white;
         font-size: 35px;
        }


        figcaption{
            text-align: center;
            color: red;
        }

        .rent {

            font-family: "Roboto";
            outline: 0;
            background: white;
            position: center;
            border: 0;
            padding: 2px;
            color: black;
            cursor: pointer;


        }

         .rent:hover,.rent:active{
            background-color: #F1A699;
        } 
        

        .first {

            text-align: center;
            font-size: 40px;
            line-height: 0.5rem;
        }

        .first1 {

           width: 80%;
            margin-left: 100px;
            padding: 50px;
            margin-top:10px;
            background-color: white;


        }

        .recent {

            margin-left: 20px;
            font-size: 30px;
            color: white; 
        }

        .trend {

             margin-left: 20px;
             color: white;
        }



        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 33%
            padding: 10px;
            height: 300px;
        }

        
        .bottom {
            float: left;
            width: 100%;
            padding: 10px;
            height: 100px;
            background-color: grey;
       
        }
        .bottom h1{
            text-transform: uppercase;
            font-family: Times, Helvetica, sans-serif;
            float: left;
        }
    
        .bottom ul{
            margin: 0;
            padding: 0;
            
        }

        .bottom li{
            float: left;
            text-align: center;
            display: inline-block;
            padding: 0 1rem;
            line-height: 2rem;
            cursor: pointer;
            margin-left: 250px;
            font-size: 22px;
            color: white;
        }

        
        

        .form {

            background-color: white;
            z-index: 1;
            max-width: 400px;
            margin: 0 auto 100px;
            padding: 50px;
            position: relative;

        }

        .form button{
            font-family: "Roboto";
            text-transform: uppercase;
            outline: 0;
            background: blue;
            width: 100%;
            position: center;
            border: 0;
            padding: 15px;
            color: white;
            cursor: pointer;
        }

        .form button:hover,.form button:active{
            background-color: blue;
        } 

        .form .message{
            margin: 50px 50px 50px 0px;
            font-size: 18px;
        }

        .form .message a{
            color: blue;
            text-decoration: none;
        }  

        .form .registeration-form{
            display: none;
        }

        .form input {

            widith :100%;
        }

        .jumbotron {

           background: url('img/image 18.jpg') no-repeat center center; 
           background-size: cover; 
           color: black; 
           text-align: center; 
           height: 0%;
           width: 100%;
           position: relative;
           left: 0px;
           margin-left: -10px;
           margin-top: -50px; 
           padding: 5em inherit;        

        }

        .jumbotron:hover,.jumbotron:active {
            opacity: 1.0;
            filter: alpha(opacity=100);

        }
        
        
        .nav-link {
            font-size: 18px;
            cursor: pointer;
                      
        }

        .nav-link:hover,.nav-link:active{
        }

        .work {
            text-align: center; 
            color: #FF6600; 
            font-size: 30px
        }

        #services {
            color: black; 
            font-size: 20px;
        }

   
        #footer .footer-top .footer-newsletter input[type="email"] {
            border: 0;
            padding: 6px 8px;
            width: 65%;
            background-color: #3B4045;

        }

        #footer .footer-top .footer-newsletter input[type="submit"] {
            background: ;
            border: 0;
            width: 35%;
            padding: 6px 0;
            text-align: center;
            color: #3B4045;
            transition: 0.3s;
            cursor: pointer;
        }

        #footer .footer-top .footer-newsletter input[type="submit"]:hover {
            background: ;
        }

        #footer .copyright {
            text-align: center;
            padding-top: 10px;
        }

        #footer .credits {
            text-align: center;
            font-size: 13px; 

        }


        .fa-cogs {
            color: #FE812E;
        }

        .fa-user-alt {
            color: #FE812E;   
        }

        .fa-credit-card {
            color: #FE812E;

        }

        .fa-check-circle {
            color: #FE812E;

        }

        .fa-book-reader {
            color: #FE812E;
        }

        .fa-edit {
            color: #FE812E;
        }

        .fa-chart-line {
            color: #FE812E;
        }

        .fa-users {
           color: #FE812E; 
        }

        .stages {
            font-size: 30px;
        }

        .bottom {
            background-color: black;
            font-size: 15px;
            text-align: center;
            color: white;
            line-height: 15px;
        }

        #myBtn {
            display: none; 
            position: fixed;
            bottom: 20px; 
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #FF6600;
            color: white;
            cursor: pointer;
            padding: 15px; 
            border-radius: 10px; 
            font-size: 18px;
        }

        #myBtn:hover {
            background-color: #555; 
        }


        .search-services {
        background: url('img/image 21.jpg') no-repeat center center; 
           background-size: cover; 
           color: black; 
        margin-top: -70px;
        height: 100%;

        }

        .search-section {
            margin-top: 30px;
        }

        .section-login {
            margin-left: 600px;
            width: 900px;
        }



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
